* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family:Arial;
    font-size:18px;
    line-height:2;
}
h2{
    text-align:center;
    margin:0 auto;
}
table{
    margin:0 auto;
}
table,tr,td{
    border:1px solid;
    text-align:center;
    background-color:yellow;
    color:red;
    font-size:24px;
    border-collapse: collapse;
}
td{
    width:200px;
    height:40px;
}